
@font-face {
    font-family: "OpenSans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}

body {
    font-family: "OpenSans", sans-serif, system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #e4ebe5;
    margin: 0 10px;
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    padding: 4px;
}

.tmplt-wrapper {
	display: grid;
	row-gap: 5px;
	grid-template-areas:
		"header"
		"content"
		"footer";
	padding: 0 10px;
}

.tmplt-header {
    grid-area: header;
    background-color: #e6e6e6;
    border-radius: 0 5px 5px 0;
    margin-top: 10px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 2px;
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.tmplt-content {
    grid-area: content;
    color: #3d4849;
    margin: 0 5px;
}

.tmplt-footer {
    grid-area: footer;
    border-radius: 5px;
    background-color: #e6e6e6;
    color: #444;
    padding: 10px;
    margin-bottom: 10px;
}

