<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="body-wrapper">

            <header class="body-header">
                {{ partial "header.html" . }}
            </header>

            <div class="body-content">
                {{ block "main" . }}{{ end }}
            </div>

            <footer class="body-footer">
                {{ partial "footer.html" . }}
            </footer>

        </div>
    </body>
</html>
